---
// Import some markdown. Dynamic import() is also supported!
import { Content, rawContent } from "../md/test.md";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" href="data:," />
  </head>
  <body>
    <main>
      <div>
        <Content />
        {rawContent.toString()}
      </div>
    </main>
  </body>
</html>
